<style>
    h1{
        font-size:{{ section.settings.padding_top }}px;
    }
</style>
<div class="page-width">
  <h1 style="text-align: {{ section.settings.allignment_heading }}">{{ section.settings.heading_text }}</h1>
  <p>{{ section.settings.paragraph_text }}</p>
  {% if section.settings.show_announcement %}
    <div>{{ section.settings.show_announcement }}</div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Class 1",
  "settings": [
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "default":"Heading Text"
    },
    {
      "type": "textarea",
      "id": "paragraph_text",
      "label": "Paragraph Text"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 5,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 6
    },
    {
    "type": "select",
    "id": "allignment_heading",
    "label": "Heading Allignment",
    "options": [
      {
        "value": "left",
        "label": "Left Align"
      },
      {
        "value": "center",
        "label": "Center Align"
      },
      
    ]
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Class 1"
    }
  ]
}
{% endschema %}
